@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@media (max-width:639px) {
  html {
    zoom:.3!important
  }
}
@media (min-width:640px) and (max-width:799px) {
  html {
    zoom:.5!important
  }
}
@media (min-width:800px) and (max-width:999px) {
  html {
    zoom:.6!important
  }
}
@media (min-width:1000px) and (max-width:1680px) {
  html {
    zoom:.8!important
  }
}
